[submodule "vim/vim.symlink/bundle/delimitMate"]
	path = vim/vim.symlink/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-monokai"]
	path = vim/vim.symlink/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "vim/vim.symlink/bundle/bundle/tcomment"]
	path = vim/vim.symlink/bundle/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim.symlink/bundle/tcomment"]
	path = vim/vim.symlink/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim.symlink/bundle/spacegray"]
	path = vim/vim.symlink/bundle/spacegray
	url = https://github.com/ajh17/Spacegray.vim.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/vim-javascript-syntax"]
	path = vim/vim.symlink/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/vim.symlink/bundle/vim-indent-guides"]
	path = vim/vim.symlink/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/vim.symlink/bundle/airline"]
	path = vim/vim.symlink/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-gitgutter"]
	path = vim/vim.symlink/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
